<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owl Display</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <h1>Here are the owls!</h1>
        <% for (let i=0; i<owls.length; i++){%>
            <p class="quote">"<%=owls[i].desc%>"</p>
            <p class="timestamp"><a href="owls/<%=owls[i].id%>"><%=owls[i].name%></a>, <%=owls[i].age%></p>
        <% } %>
        <a href="/owls/new">
            <button class="blue">New Owl</button>
        </a> 
    </div>
</body>
</html>