* {
    margin: 0;
    padding: 0;
}
.box{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    display: inline-block;
}
h5 {
    color: red;
}
.quote {
    color: grey;
    font-size: 21px; 
}
.timestamp{
    color: blue;
    margin-left: 40px;
}
p {
    margin-bottom: 0;
}
button{
    background:linear-gradient(lightgreen, green);
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.blue {
    background: linear-gradient(lightblue, blue);
}